@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 245, 247);
  font-family: 'Abel', sans-serif;
  background-image: url("project-img/background.jpeg");
}

.landing-page-view {
  height: 700px;
  padding-top: 200px;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 19px;
}

.fab {
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  border-radius: 5px;
}

.fab:hover {
  opacity: 0.5;
}

.fa-github {
  background:rgb(5, 5, 5);
  color: white;
}

.fa-linkedin {
  background: #075be3;
  color: white;
}

.greeting {
  margin-top: 30px;
  margin-left: auto;
  text-align: center;
  font-size: 30px;
}

#projects {
  font-size: 40px;
  text-align: center;
}

#name {
  font-size: 55px;
  text-align: center;
}

#projects {
  margin-bottom: 40px;
}

#projects-start {
  padding-top: 100px;
}

#get-it-done {
  color: black;
}

#moments {
  color: black;
}

#carrieokey {
  color: black;
}

#trivia {
  color: black;
}

.shot {
  position: relative;
  display: grid;
  height: 300px;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
}

.shot .after {
  position: absolute;
  cursor: pointer;
  display: none;
}

.shot img {
  width: 490px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .shot img {
    width: 350px;
  }
}

.shot-info {
  text-align: left;
  padding: 30px;
}

.live-btn,
.github-btn {
  width: 100px;
  height: 50px;
}

.projects {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-shots {
  margin: 0 auto 50px auto;
  border-radius: 15px;
  width: 490px;
  height: 480px;
  box-shadow: 0 3px 3px #8b8787;
  border: thin rgb(5, 5, 5);
}

@media (max-width: 400px) {
  .projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-shots {
    width: 350px;
  }
}

.shot .box {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.shot:hover .box {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.2;
}

.after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 900;
  color: black;
}

.shot:hover .after {
  display: block;
  color: black;
}

footer {
  height: 30px;
  text-align: center;
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #151616;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.nav-list a:hover {
  background: gray;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button a {
  color: black;
}

.btn-group {
  padding: 120px 0;
  text-align: center;
}

.button {
  background-color: white;
  color: black;
  width: 70px;
  height: 30px;
  border: solid 2px black;
  font-size: 1.5rem;
  padding: 5px;
}

.button:hover {
  opacity: 0.8;
  background: gray;
}