@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(245, 245, 247);
  font-family: 'Abel', sans-serif;
  background-image: url("project-img/background.jpeg");
}

.landing-page-view {
  height: 700px;
  padding-top: 200px;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 19px;
}

.greeting {
  margin-top: 30px;
  margin-left: auto;
  text-align: center;
  font-size: 30px;
}

#name,
#projects {
  font-size: 40px;
  /* color: rgb(98, 44, 250); */
}

#get-it-done {
  background-color: rgb(61, 51, 150);
  color: whitesmoke;
}

#moments {
  background-color: rgb(150, 122, 122);
  color: whitesmoke;
}

#carrieokey {
  background-color: rgb(11, 134, 58);
  color: whitesmoke;
}

#trivia {
  background-color: rgb(175, 58, 58);
  color: whitesmoke;
}

.shot {
  display: grid;
  height: 100%;
  padding-top: 50px;
}

.center-fit {
  max-width: 70%;
  max-height: 100vh;
  margin: auto;
  float: left;
}

.shot-info {
  text-align: center;
  padding: 30px;
}

.live-btn,
.github-btn {
  width: 100px;
  height: 50px;
  background-color: gray;
}

.live-btn:hover {
  background-color: black;
}

.github-btn:hover {
  background-color: black;
}

.projects {
  text-align: center;
}

footer {
  height: 30px;
  text-align: center;
  padding: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #274fe8;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.nav-list a:hover {
  background: gray;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}